bin/
obj/
TestResults/
*.user
*.suo
*.rsuser
*.sln.docstates

node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!*.env.example
appsettings.Local.json
appsettings.*.local.json

.DS_Store
.vscode/
.idea/

*.db
*.db-shm
*.db-wal
